
  
  .footer {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // background-color: grey;
    .socia-media {
      display: flex;
      padding-left: 20px;
      a {
        margin-left: 8px;
      }
    }
    .copyright { 
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      margin-right: 20px;
    } 
  };