$box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.5);
$text-shadow: 0 0 3px rgba(0,0,0,0.50);
$background: #D8D8D8;
$height: calc(100vh - 165px);


// three categories in the PHOTO PAGE 
.pc {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $background;
    padding: 30px 0px;
    .cg {
        position: relative;
        text-align: center;
        h1 {
            position: absolute;
            color: white;
            left: 0;
            top: 25%;
            width: 100%;
            text-align: center;
            z-index: 1;
            color: grey;
            text-shadow: $text-shadow;
            padding: 50px 0;
            &:hover {
                color: whitesmoke;
            }
            @media screen and (min-width: 400px) {
                top: 25%;
            }
        }
        img { 
            width: 65%;
            height: auto;
            border-radius: 50%;
            box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.5);
            padding: 1%;
            filter: blur(3px);
            border: 5px solid darkgrey;
            margin: 20px;
            
            &:hover {
                border-color: white;
            }
            @media screen and (min-width: 420px) {
                border: 10px solid darkgrey;
                width: 50%;
            }
            @media screen and (min-width: 800px) {
                width: 80%;
            }
        }
        
    }
    @media screen and (min-width: 800px) {
        flex-direction: row;
        align-items: center;
        height: calc(100vh - 165px);
    }

}