@import 'base';
@import 'normalize';
@import 'footer';
@import 'header';


// Global variable scope

.container {
  .box {
  position: relative;
  display: flex;
  width: 100%;
  // padding-bottom: 100%;
  height: calc(100vh - 132px - 60px );
  background: #FFD83B;
  box-shadow: 2px 2px 15px 0 rgba(0,0,0,0.50); 
  }
  img:nth-child(1) {
    position: absolute;
    max-width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }
  img:nth-child(2) {
    position: absolute;
    max-width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:1;
  }
};

.main-content {
  width: 100%;
  position: relative;

  li {
    display: flex;
    align-items: center;
    list-style: none;
    position: absolute;
    z-index: 0;
    background: rgba(255,255,255,0.70);
  }

    .right,
    .left {
      height: 100px;
      width: 50px;
        }

    .right {
      border-bottom-right-radius: 100px;
      border-top-right-radius: 100px;
      left: 0;
      justify-content: flex-end;
      padding-right: 8px;

    }

    .left {
      border-bottom-left-radius: 100px;
      border-top-left-radius: 100px;
      right: 0;
      padding-left: 8px;
    }
 

 img {
    width: 100%;
    position: absolute;
  }
}






